@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'PT Sans Narrow', sans-serif;
}

body {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}